page-onboarding {
    .profile {
        padding: 40px 0;
        p {
            text-align: center;
            display: block;
            margin: auto;
            margin-top: 8px;
        }
    }
    .header{
        position: relative;
    }
}