<ion-header>
  <div class="profile">
    <img class="receiptguy big" src="../assets/img/receiptguy.svg" alt="">
  </div>
</ion-header>

<ion-content no-bounce>
  <div class="fixed-content">

  </div>
  <div class="addToHome">

  </div>
  <div class="userTabs">
    <div *ngIf="loginUserView" class="userTab activated">
      <p>Login</p>
    </div>
    <div *ngIf="registerUserView" (click)="loginView()" class="userTab notActivated">
      <p>Login</p>
    </div>

    <div *ngIf="registerUserView" class="userTab activated">
      <p>New user</p>
    </div>
    <div *ngIf="loginUserView" (click)="registerView()" class="userTab notActivated">
      <p>New user</p>
    </div>
  </div>
  <div class="info-content">

    <form [formGroup]="userForm">

      <ion-item>
        <ion-label color="primary" floating>Email</ion-label>
        <ion-input formControlName="username" type="email" autocomplete='email'></ion-input>
      </ion-item>
      <div class="error-txt" *ngIf="userForm.controls.username.errors && userForm.controls.username.touched">Must be a valid email</div>

      <ion-item>
        <ion-label color="primary" floating>Password</ion-label>
        <ion-input formControlName="password" type="password" autocomplete='password'></ion-input>
      </ion-item>
      <div class="error-txt" *ngIf="userForm.controls.password.errors && userForm.controls.password.touched">Password is required</div>

      <ion-item *ngIf="registerUserView" id="confirm-password">
        <ion-label color="primary" floating>Confirm password</ion-label>
        <ion-input formControlName="confirmPassword" type="password"></ion-input>

      </ion-item>
      <div class="error-txt" *ngIf="registerUserView && userForm.controls.confirmPassword.errors?.MatchPassword  && userForm.controls.confirmPassword.touched">Passwords doesn't match</div>

      <div *ngIf="loginUserView" class="buttons">
        <button *ngIf="!userForm.valid" type="button" class="secondary disabled">Login</button>
        <button *ngIf="userForm.valid" type="button" class="primary" (click)="loginUser()">
          <ion-spinner *ngIf="loading"></ion-spinner>Login</button>
      </div>

      <div *ngIf="registerUserView" class="buttons">
        <button *ngIf="!userForm.valid" type="button" class="secondary disabled">Register</button>
        <button *ngIf="userForm.valid" type="button" class="primary" (click)="registerUser()">
          <ion-spinner *ngIf="loading"></ion-spinner>Register</button>
      </div>

      <p class="error-msg" *ngIf="wrongUser">Wrong username or password</p>
      <p class="error-msg" *ngIf="userExists">This user already exists</p>
    </form>
  </div>
</ion-content>