<ion-header class="header">
    <div class="header-row">
        <div class="column left"></div>
        <div class="column center">
            <img class="receiptguy small" src="../assets/img/receiptguy.svg" alt="">
        </div>

        <div *ngIf="cards.length == 0" class="column right" (click)="newCard()">
            <p class="notify">Add card</p>
        </div>
        <div *ngIf="cards.length > 0" class="column right" (click)="goToCards()">Your cards</div>
    </div>
</ion-header>
<ion-content  #content>

    <div *ngIf="mappedReceipts.length == 0" class="info-content">
        <div class="centered">
            <div class="centered-cell">
                <img class="receiptguy big" src="../assets/img/zeiptreceipt.svg" alt="">
                <p>This page will shortly be filled with your digital receipts.</p>
                <br>
                <p *ngIf="cards.length > 0">Just stay tuned!</p>
                <p *ngIf="cards.length == 0">Start by adding your card:</p>
                <button *ngIf="cards.length == 0" class="primary" (click)="newCard()">Add card</button>
            </div>
        </div>
    </div>


    <ion-list *ngFor="let year of years">
        <ion-item-group>
            <div class="year">
                <p>{{ year }}</p>
            </div>
        </ion-item-group>
        <div *ngFor="let receiptMap of mappedReceipts">
            <div *ngFor="let receiptYear of receiptMap[year]; let i = index">
                <div *ngFor="let month of months" id="{{month}}">
                    <div *ngIf="receiptYear[month] && i == 0">
                        <accordion [monthTitle]="month" [firstAccordion]="true">
                            <div *ngFor="let receiptMonth of receiptYear[month]">

                                <div *ngFor="let day of days">
                                    <div *ngIf="receiptMonth[day]">
                                        <p class="dayname">{{day}}</p>
                                        <div class="day">
                                            <div *ngFor="let receipt of receiptMonth[day]">
                                                <button class="receiptbtn" (click)="goToReceipt(receipt)">

                                                    <div class="merchant half">
                                                        <p class="name">
                                                            {{receipt.merchant.name}}
                                                        </p>
                                                        <p class="city">
                                                            {{receipt.merchant.city}}
                                                        </p>
                                                    </div>
                                                    <div class="info half">
                                                        <div class="sum">
                                                            <p class="total">
                                                                {{receipt.sum.total.toLocaleString(undefined, {useGrouping: true, minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                                                            </p>
                                                            <p class="currency">
                                                                {{receipt.sum.currency}}
                                                            </p>
                                                        </div>
                                                        <p class="time">{{receipt.receipt.time.slice(0,-3)}}</p>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </accordion>
                    </div>
                    <div *ngIf="receiptYear[month] && i > 0">
                        <accordion [monthTitle]="month">
                            <div *ngFor="let receiptMonth of receiptYear[month]">

                                <div *ngFor="let day of days">
                                    <div *ngIf="receiptMonth[day]">
                                        <p class="dayname">{{day}}</p>
                                        <div class="day">
                                            <div *ngFor="let receipt of receiptMonth[day]">
                                                <button class="receiptbtn" (click)="goToReceipt(receipt)">

                                                    <div class="merchant half">
                                                        <p class="name">
                                                            {{receipt.merchant.name}}
                                                        </p>
                                                        <p class="city">
                                                            {{receipt.merchant.city}}
                                                        </p>
                                                    </div>
                                                    <div class="info half">
                                                        <div class="sum">
                                                            <p class="total">
                                                                {{receipt.sum.total.toLocaleString(undefined, {useGrouping: true, minimumFractionDigits: 2, maximumFractionDigits: 2}) }}
                                                            </p>
                                                            <p class="currency">
                                                                {{receipt.sum.currency}}
                                                            </p>
                                                        </div>
                                                        <p class="time">{{receipt.receipt.time.slice(0,-3)}}</p>
                                                    </div>
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </accordion>
                    </div>
                </div>
            </div>
        </div>
    </ion-list>

</ion-content>
<!--
<ion-footer>
    <ion-toolbar>
        <button ion-button full clear icon-end (click)="goToCards()">
            Your cards
            <ion-icon name="play"></ion-icon>
        </button>
    </ion-toolbar>
</ion-footer>-->