<ion-content no-bounce>
  <div ion-fixed>
    <div class="profile-content">
      <ion-list>
        <div class="id-title">
          <p>Fixed ID's</p>
        </div>
        <ion-item>
          <ion-label>
            Zeipt ID
          </ion-label>
          <ion-note item-end>
            <code>0001</code>
          </ion-note>
        </ion-item>

        <ion-item class="zeipt-mail">
          <ion-label item-start>
            Zeipt-mail
          </ion-label>
          <ion-note item-end>
            <code>0001@zeipt.com</code>
          </ion-note>
          <ion-toggle checked="false"></ion-toggle>
        </ion-item>
      </ion-list>

      <ion-list>
        <div class="id-title">
          <p>Your ID's</p>
        </div>
        <button ion-item>
          Phone nr.
          <ion-note item-end>
            <code>92696846</code>
          </ion-note>
        </button>
        <button ion-item>
          BankID
          <ion-note item-end>
            <code>Not activated</code>
          </ion-note>
        </button>
        <button ion-item>
          Email
          <ion-note item-end>
            <code>{{resProvider.user.name}}</code>
          </ion-note>
        </button>
      </ion-list>
      <div class="cards-container">
        <div class="id-title">
          <p>Your card(s)</p>
        </div>
        
        <div class="cards-tabs">
          <div *ngFor="let card of resProvider.user.cards.slice(0, 3); let idx = index">
            <!-- First tab is activated -->
            <button class="cards-tab segment-activated" *ngIf="idx == 0" (click)="selectTab($event, card.id)">
              <img src="assets/img/{{card.card_type}}.jpg" alt="">
            </button>
            <!-- The other tabs -->
            <button class="cards-tab" *ngIf="idx > 0" (click)="selectTab($event, card.id)">
              <img src="assets/img/{{card.card_type}}.jpg" alt="">
            </button>
          </div>
          <div class="cards-tab" *ngIf="resProvider.user.cards.length >= 4" (click)="selectTab($event, card.id)">
            <p>{{resProvider.user.cards.length - 3}}</p>
          </div>


          <button class="cards-tab add-tab" *ngIf="resProvider.user.cards.length >= 1" (click)="addCard()">
            <ion-icon name="add"></ion-icon>
          </button>
          <button class="cards-tab add-tab single" *ngIf="resProvider.user.cards.length < 1" (click)="addCard()">
            <div>
              <p>Add card</p>
              <ion-icon name="add"></ion-icon>
            </div>
          </button>
        </div>

        <div *ngFor="let card of resProvider.user.cards; let idx = index">
          <div class="cards-content" *ngIf="idx == 0" style="display: block;" id="{{card.id}}">
            <code>{{card.lastfour.slice(0, 4)}} {{card.lastfour.slice(4, 8)}} {{card.lastfour.slice(8, 12)}} {{card.lastfour.slice(12, 16)}}</code>
            <ion-icon name="trash" (click)="popCard(card.id)"></ion-icon>
          </div>
          <div class="cards-content" *ngIf="idx > 0" id="{{card.id}}">
            <code>{{card.lastfour.slice(0, 4)}} {{card.lastfour.slice(4, 8)}} {{card.lastfour.slice(8, 12)}} {{card.lastfour.slice(12, 16)}}</code>
            <ion-icon name="trash" (click)="popCard(card.id)"></ion-icon>
          </div>
        </div>

        <div class="cards-content single" *ngIf="resProvider.user.cards.length < 1" style="display: block;">
          <code>**** **** **** 1234</code>
        </div>

      </div>

      <div class="cards-container">
        <div class="id-title">
          <p>Scan ID</p>
        </div>
        <div class="fixed-id">

          <button class="code-container">
            <img src="assets/img/qr-icon.svg" alt="">
            <p>Your QR code</p>
          </button>
          <button class="code-container">
            <img src="assets/img/barcode-icon.svg" alt="">
            <p>Your barcode</p>
          </button>
        </div>
      </div>
    </div>

  </div>


  <!--
  <div class="id-container client">
    <div class="id-title">Client ID</div>
    <div class="info-box">
      <code>0001</code>
    </div>
  </div>

  <div class="id-container email unactive">
    <div class="id-title">Zeipt-mail</div>
    <div class="info-box">
      <code>0001@zeipt.com</code>
      <button class="primary">Activate</button>
    </div>
  </div>

  <div class="id-container phone">
    <div class="id-title">Phone number</div>
    <form class="info-box">
      <ion-item>
        <select-searchable [canSearch]="true" [(ngModel)]="country" itemValueField="dial_code" itemTextField="name" [items]="countries"
          name="countrydialcode">
          <ng-template selectSearchableItemTemplate let-country="item">
            {{country.flag}} {{country.name}} {{country.dial_code}}
          </ng-template>
          <ng-template selectSearchableValueTemplate let-port="value">
            {{country.flag}}{{country.dial_code}}
          </ng-template>
        </select-searchable>
      </ion-item>
      <ion-item>
        <ion-input type="number" placeholder="Type tlf nr." autocomplete='phone'></ion-input>
      </ion-item>
    </form>
  </div>

  <div class="id-container cards">
    <div class="id-title">Cards</div>
    <div class="cardcontainer" *ngFor="let card of resProvider.user.cards; let idx = index">
      <div class="card">
        <img src="assets/img/{{card.card_type.toLowerCase()}}.jpg" alt="">
        <div class="cardnumber">
          <code><span>XXXX XXXX XXXX</span> {{card.lastfour}}</code>
        </div>
        <div class="btn-icon" (click)="popCard(card.id)">
          <ion-icon name="trash"></ion-icon>

        </div>
      </div>
    </div>
    <button class="primary" (click)="newCard()">
      <ion-spinner *ngIf="loading"></ion-spinner>
      <ion-icon name="md-add"></ion-icon>Add card
    </button>
  </div>



  <div ion-fixed class="fixed-id">
    <div class="code-container">
      <img src="assets/img/qr-icon.svg" alt="">
      <p>Your QR code</p>
    </div>
    <div class="code-container">
      <img src="assets/img/barcode-icon.svg" alt="">
      <p>Your barcode</p>
    </div>
  </div>
  -->
</ion-content>