page-profile {
    .scroll-content {
        padding: 10px;
    }
    .toolbar-background {
        border: none !important;
        overflow: unset !important;
    }
    .scroll-content {
        padding-top: 40px;
    }
    .fixedbanner {
        background-color: color($colors, primary);
        width: 100%;
        text-align: center;
        padding: 4px;
        color: color($colors, secondary);
        padding: 0px 0 4px 0;
    }
    .datenr {
        margin-bottom: 2px;
        >p {
            font-size: 14px;
            color: #277098;
        }
    }
    .cardcontainer {
        margin-bottom: 10px;
    }
    .realcardcontainer {
        display: flex;
        border-radius: 7px 0px 0px 7px;
        justify-content: end;
        align-items: center;
    }
    .realcardcontainer .btn-icon {
        font-size: 30px;
        margin-left: 10px;
    }
    .realcard {
        position: relative;
        width: calc(100% - 40px);
        display: inline-block;
    }
    .realcard img {
        position: relative;
        width: 100%;
    }
    .realcard .cardinfo {
        z-index: 10;
        margin: auto;
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        color: white;
        text-shadow: 0 1px 0 black;
        font-family: helvetica-neue, helvetica;
        text-transform: uppercase;
    }
    .card img {
        width: 40px;
    }
    .cardnumber p {
        top: 0;
        bottom: 0;
        left: 0;
        display: table;
        right: 0;
        text-align: center;
        color: #0f2841;
        width: 100%;
        font-weight: 300;
        font-size: 18px;
        letter-spacing: 2px;
        @media screen and (min-width: 330px) {
            font-size: 22px;
            
        }
    }
    .realcard .cardholder {
        position: absolute;
        bottom: 20px;
        left: 15px;
    }
    .realcard .small {
        font-size: 9px;
        font-weight: 100;
        margin-bottom: 5px;
    }
    .realcard .expires {
        position: absolute;
        bottom: 20px;
        right: 15px;
    }
    .card {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card .btn-icon {
        color: #0f2841;
        font-size: 26px;
    }
    .cardinfo {
        text-align: left;
        width: 100%;
        margin-left: 20px;
    }
    .id-container {
        border: 1px solid #277098;
        border-radius: 5px;
        position: relative;
        padding: 15px;
        margin-bottom: 30px;
        .id-title {
            position: absolute;
            top: -10px;
            left: 10px;
            background-color: #f2f5fb;
            padding: 0 5px;
            color: #277098;
        }
        .info-box code {
            font-size: 24px;
            letter-spacing: 4px;
        }
        button{
            margin: auto;
            margin-top: 10px;
        }
    }
    .unactive .info-box{
        opacity: 0.2;
    }


    .phone{
        ion-item:first-child {
            width: 60%;
        }
        ion-select {
            padding-left: 0;
            width: 100%;
            max-width: 100%;
        }
        .input-wrapper {
            align-items: flex-end;
        }
        form{
            display: flex;
        }
    } 
}