/* 
HEADER */

@mixin animation-keyframes {
    $animation-number: 0 !default !global;
    $animation-number: $animation-number + 1 !global;
    $name: unquote("การเคลื่อนไหวที่-#{$animation-number}");
    animation-name: $name;
    @at-root {
        @keyframes #{$name} {
            @content;
        }
    }
}

.header {
    z-index: 1000;
    width: 100%;
    display: table;
    text-align: center;
    background-color: color($colors, primary);
    color: white;
    .toolbar {
        padding: 0;
        margin: 0;
        min-height: 43px;
    }
    .toolbar-background {
        background: none;
    }
    .toolbar-content {
        vertical-align: middle;
        display: table;
        width: 100%;
        padding: 0 10px;
    }
    .header-row {
        width: 100%;
        height: 100%;
        display: table-row;
    }
    .column {
        display: table-cell;
        width: 33.33%;
        vertical-align: middle;
        position: relative;
    }
    .right {
        text-align: right;
    }
    .right p {
        position: relative;
        float: right;
    }
    .left {
        text-align: left;
    }
    p {
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
    .receiptguy {
        margin: auto;
        border-radius: 100px;
        box-shadow: 0 0 15px color($colors, secondary);
    }
    .receiptguy.big {
        width: 50px;
    }
    .receiptguy.small {
        width: 30px;
    }
}

.headeren {
    .right {
        animation: .3s linear forwards;
        @include animation-keyframes {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
    .left{
        animation: .3s linear forwards;
        @include animation-keyframes {
            from {
                opacity: 0;
                transform: translateX(-50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}

ion-content.content-md[padding] .scroll-content {
    padding-bottom: 300px !important;
}

ion-content.content-md:not([padding]) .scroll-content {
    padding-bottom: 0 !important;
}

.header-md::after {
    display: none;
}

/* FIXED BG */

#fixedbg {
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    opacity: 1;
}

/* SPINNER */

ion-spinner {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    position: absolute;
}

ion-spinner * {
    fill: white !important;
    stroke: white !important;
}

/* TOAST */

.toaster {
    .toast-wrapper {
        background-color: #0F2841 !important;
        button {
            max-width: 100px;
        }
    }
}

/* INSTALL TOAST */

.addToHome {
    .toast-wrapper {
        transform: translateY(-20px) !important;
        background-color: white;
        background-image: url(../assets/img/addtohome.svg);
        background-repeat: no-repeat;
        background-size: 80px;
        background-position: center;
        .toast-message {
            color: #0F2841 !important;
            font-weight: bold;
        }
        button {
            color: #0F2841 !important;
            max-width: 80px;
        }
        box-shadow: 0 10px 50px rgba(39, 112, 152, 0.5);
        &:after {
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 15px solid #fff;
            content: '';
            bottom: -15px;
            left: 50%;
            transform: translateX(-50%);
            position: absolute;
        }
    }
}

/* TABS */

.tab-buttons-container {
    box-shadow: 0 0 30px rgba(39, 112, 152, 0.1) !important;
    .indicator {
        background-color: white;
    }
    super-tab-button {
        background-color: #f2f5fb !important;
        ion-icon {
            color: #277098 !important;
        }
    }
}

super-tab-button:not(.selected) ion-icon {
    opacity: 0.5 !important;
}

super-tabs:not([no-shadow])>super-tabs-toolbar>ion-toolbar.toolbar::after,
super-tabs:not([no-shadow])>super-tabs-toolbar>ion-toolbar.toolbar::before {
    background-image: none;
}

/* BUTTON */

button {
    font-size: 14px;
    padding: 16px 0;
    width: 100%;
    margin: 10px 0;
    display: block;
    position: relative;
    .icon {
        margin-right: 10px;
        color: white !important;
    }
}

button.primary {
    background-color: color($colors, secondary);
    color: white;
}

button.navbtn {
    background-color: #f1f5fa;
    color: #0F2841;
}

.disabled {
    opacity: 0.5;
}

button.secondary {
    background-color: color($colors, bright);
    color: color($colors, primary);
}

/* INFO */

.info-content {
    padding: 10px;
    .centered {
        text-align: center;
        display: table;
        padding: 0 10px;
        width: 100%;
        .centered-cell {
            display: table-cell;
            vertical-align: middle;
            padding: 32px 0;
        }
        p {
            width: 240px;
            font-size: 16px;
            line-height: 1.5;
            color: #0f2841;
        }
    }
}

/* OTHER */

p {
    margin: auto;
}

.notify {
    position: relative;
}

.notify:after {
    content: '';
    position: absolute;
    background-color: #dd0000;
    height: 4px;
    width: 4px;
    border-radius: 100px;
    top: -1px;
}

.right .notify:after {
    left: -8px;
}

.left .notify:after {
    right: -8px;
}

.padding-width {
    padding: 0 10px;
}

ion-app {
    max-width: 500px;
    right: 0;
    margin: auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

ion-content {
    transform: translateY(0px);
    background-color: color($colors, light) !important;
}

.item-md {
    padding: 0;
    margin: auto;
    background-color: transparent;
}

.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
    margin: 2px 0 4px 0;
}

.list-md .item-block .item-inner {
    border: none;
}

.label-md {
    margin: auto;
}

.item-divider-md {
    padding: 0;
    border: none;
}

form p {
    text-align: right;
    margin-top: 20px;
}

.column.left ion-icon {
    margin-right: 5px;
    color: #fff;
}

.item-input {
    margin-bottom: 20px;
}

.item-ios {
    padding: 0px;
    margin: 0;
    background-color: transparent;
}

.label-ios {
    margin: 0;
}

.list-ios .item-block .item-inner {
    border: none;
    padding: 0;
    margin: 0;
}

.item-block {
    min-height: 0;
}

.list-ios {
    margin: 0;
}