/* 
HEADER */

@mixin animation-keyframes {
    $animation-number: 0 !default !global;
    $animation-number: $animation-number + 1 !global;
    $name: unquote("การเคลื่อนไหวที่-#{$animation-number}");
    animation-name: $name;
    @at-root {
        @keyframes #{$name} {
            @content;
        }
    }
}

.header {
    z-index: 1000;
    width: 100%;
    display: table;
    text-align: center;
    background-color: color($colors, primary);
    color: white;
    .toolbar {
        padding: 0;
        margin: 0;
        min-height: 43px;
    }
    .toolbar-background {
        background: none;
        border: none !important;
        box-shadow: none !important;
    }
    .toolbar-content {
        vertical-align: middle;
        display: table;
        width: 100%;
        padding: 0 10px;
    }
    .header-row {
        width: 100%;
        height: 100%;
        display: table-row;
    }
    .column {
        display: table-cell;
        width: 33.33%;
        vertical-align: middle;
        position: relative;
    }
    .right {
        text-align: right;
    }
    .right p {
        position: relative;
        float: right;
    }
    .left {
        text-align: left;
    }
    p {
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
    .receiptguy {
        margin: auto;
        border-radius: 100px;
        box-shadow: 0 0 50px color($colors, secondary);
    }
    .receiptguy.big {
        width: 40px;
        box-shadow: 0 0 100px 10px color($colors, secondary);
    }
    .receiptguy.small {
        width: 30px;
    }
    .back-button {
        width: auto;
        margin-left: 10px;
        font-size: 14px;
        ion-icon{
            font-size: 16px;
            min-width: unset;
            margin-right: 5px;
        }
    }
}

.headeren {
    .right {
        animation: .3s linear forwards;
        @include animation-keyframes {
            from {
                opacity: 0;
                transform: translateX(50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
    .left {
        animation: .3s linear forwards;
        @include animation-keyframes {
            from {
                opacity: 0;
                transform: translateX(-50px);
            }
            to {
                opacity: 1;
                transform: translateX(0px);
            }
        }
    }
}

page-home>ion-content>.fixed-content>div {
    height: 100%;
}

ion-content.content-md[padding] .scroll-content {
    padding-bottom: 300px !important;
}

ion-content.content-md:not([padding]) .scroll-content {
    padding-bottom: 0 !important;
}

.header-md::after {
    display: none;
}

/* Speech-bubble */

.speech-bubble-wrap {
    position: absolute;
    right: 0;
    left: 40px;
}

.speech-bubble {
    width: 25px;
    padding: 1px;
    background-color: #3CBF71;
    position: relative;
    margin: auto;
    border-radius: 2px;
    box-shadow: -4px 4px 17px #0F2841;
    color: white;
}

.speech-bubble:after {
    z-index: 9002;
    display: block;
    content: "";
    position: absolute;
    bottom: -3px;
    left: 0;
    border-top: 0 #3CBF71 solid;
    border-bottom: 6px transparent solid;
    border-left: 10px #3CBF71 solid;
}

/* FIXED BG */

#fixedbg {
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: 0;
    opacity: 1;
}

[ion-fixed] {
    left: 0;
    right: 0;
}

.fade {
    transition: opacity 0.2s;
    opacity: 0;
    width: 100vw;
    height: 100vh;
    right: 0;
    left: 0;
    background-color: rgba(15, 40, 65, 0.5);
    z-index: 9;
    pointer-events: none;
}

/* SPINNER */

ion-spinner {
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    position: absolute;
}

ion-spinner * {
    fill: white !important;
    stroke: white !important;
}

/* THIRD PARTIES*/

.tag.economy {
    background-color: #ca7200;
}

.tag.bookkeeping {
    background-color: rgba(184, 22, 202, 0.3);
    border: 1px solid rgba(184, 22, 202, 1);
}

.tag.insurance {
    background-color: rgba(0, 100, 255, 0.3);
    border: 1px solid rgba(0, 100, 255, 1);
}

/* TOAST */

.toaster {
    .toast-wrapper {
        background-color: #0F2841 !important;
        button {
            max-width: 100px;
        }
    }
}

/* TABS */

.tab-buttons-container {
    box-shadow: 0 0 30px rgba(39, 112, 152, 0.1) !important;
    .indicator {
        background-color: white;
    }
    super-tab-button {
        background-color: #f2f5fb !important;
        ion-icon {
            color: #277098 !important;
        }
    }
}

ion-segment-button {
    border-radius: 0 !important;
    border: none !important;
    height: 40px !important;
    border-bottom: 1px solid white !important;
    p {
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%);
        left: 30px;
        color: #277098 !important;
        img {
            left: -20px;
            height: 20px;
            position: absolute !important;
            top: 50%;
            transform: translateY(-50%);
        }
        ion-icon {
            left: -20px;
            font-size: 20px !important;
            position: absolute !important;
            top: 50%;
            transform: translateY(-50%);
            line-height: 0 !important;
            display: block;
        }
    }
    &.segment-activated {
        background-color: rgba(255, 255, 255, 0.5) !important;
        border-bottom: 2px solid #0F2841 !important;
    }
}

super-tab-button:not(.selected) ion-icon {
    opacity: 0.5 !important;
}

super-tabs:not([no-shadow])>super-tabs-toolbar>ion-toolbar.toolbar::after,
super-tabs:not([no-shadow])>super-tabs-toolbar>ion-toolbar.toolbar::before {
    background-image: none;
}

/* BUTTON */

button {
    transition: 0.2s transform;
    font-size: 14px;
    padding: 16px 0;
    width: 100%;
    margin: 10px 0;
    display: block;
    position: relative;
    border-radius: 2px;
    
}

button.primary {
    background-color: color($colors, secondary);
    color: white;
}

button.secondary {
    background-color: color($colors, bright);
    color: color($colors, primary);
}

button.dark {
    background-color: color($colors, primary);
    color: white;
}

button.navbtn {
    background-color: #f1f5fa;
    color: #0F2841;
}

.activated {
    opacity: 0.5;
    transform: translateY(2px)
}

.disabled {
    opacity: 0.5;
}

/* INFO */

.info-content {
    padding: 10px;
    .centered {
        text-align: center;
        display: table;
        padding: 0 10px;
        width: 100%;
        .centered-cell {
            display: table-cell;
            vertical-align: middle;
            padding: 32px 0;
        }
        p {
            width: 240px;
            font-size: 16px;
            line-height: 1.5;
            color: #0f2841;
        }
    }
}

/* OTHER */

p {
    margin: auto;
}

.notify {
    position: relative;
}

.notify:after {
    content: '';
    position: absolute;
    background-color: #dd0000;
    height: 4px;
    width: 4px;
    border-radius: 100px;
    top: -1px;
}

.right .notify:after {
    left: -8px;
}

.left .notify:after {
    right: -8px;
}

.padding-width {
    padding: 0 10px;
}

ion-app {
    max-width: 500px;
    right: 0;
    margin: auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

ion-content {
    transform: translateY(0px);
    background-color: color($colors, light) !important;
}

.item-md {
    padding: 0;
    margin: auto;
    background-color: transparent;
}

.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
    margin: 2px 0 4px 0;
}

.list-md .item-block .item-inner {
    border: none !important;
}
.list-ios > .item-block:first-child{
    border: none;
}
.label-md {
    margin: auto;
}

.item-divider-md {
    padding: 0;
    border: none;
}

form p {
    text-align: right;
    margin-top: 20px;
}

.item-input {
    margin-bottom: 20px;
}

.item-ios {
    padding: 0px;
    margin: 0;
    background-color: transparent;
}
.item-block{
    &:not(:last-child){
        
        border-bottom: 0.55px solid rgba(15, 40, 65, 0.1) !important;
    }
    &:last-child {
        border-bottom: none !important;
    }
    .item-inner {
        ion-note {
            color: rgba(15, 40, 65, 0.6) !important;
        }
        border-bottom: none !important;
    }
}

.list-ios {
    margin: 0;
}

.select-searchable-value-item {
    font-size: 20px;
    letter-spacing: 4px;
}

ion-item-group ion-icon.icon {
    color: #3CBF71 !important;
}

ion-toggle {
    padding: unset !important;
}

ion-label {
    font-size: 14px !important;
}

.toggle-ios.toggle-checked .toggle-icon {
    background-color: #3CBF71 !important;
}

ion-input.input input {
    font-size: 20px;
    letter-spacing: 2px;
    font-family: monospace;
}

.bar-button {
    color: white !important;
}

ion-item-group {
    button {
        padding-left: 10px !important;
        background-color: white !important;
        border-bottom: 2px solid color($colors, light) !important;
    }
}

.searchbar-input {
    background-color: white !important;
}