/* 
HEADER */

.header {
    z-index: 1000;
    width: 100%;
    display: table;
    text-align: center;
    background-color: color($colors, primary);
    color: white;
    .toolbar{
        padding: 0;
        margin: 0;
        min-height: 43px;
    }
    .toolbar-background {
        background: none;
    }
    .toolbar-content {
        vertical-align: middle;
        display: table;
        width: 100%;
        padding: 0 10px;
    }
    .header-row {
        width: 100%;
        height: 100%;
        display: table-row;
    }
    .column {
        display: table-cell;
        width: 33.33%;
        vertical-align: middle;
        position: relative;
    }
    .right {
        text-align: right;
    }
    .right p {
        position: relative;
        float: right;
    }
    .left {
        text-align: left;
    }
    p {
        display: table-cell;
        vertical-align: middle;
        color: white;
    }
    .receiptguy {
        margin: auto;
        border-radius: 100px;
        box-shadow: 0 0 30px color($colors, secondary);
    }
    .receiptguy.big {
        width: 50px;
    }
    .receiptguy.small {
        width: 30px;
    }
}


/* BUTTON */

button {
    font-size: 14px;
    padding: 16px 0;
    width: 100%;
    margin: 10px 0;
    display: block;
    box-shadow: 0 2px 4px rgba(194, 217, 236, 0.5);
    .icon {
        margin-right: 10px;
    }
}

button.primary {
    background-color: color($colors, secondary);
    color: white;
}
.disabled{
    opacity: 0.5;
}
button.secondary {
    background-color: color($colors, bright);
    color: color($colors, primary);
}


/* INFO */

.info-content {
    padding: 10px;
    .centered {
        text-align: center;
        display: table;
        padding: 0 10px;
        width: 100%;
        .centered-cell {
            display: table-cell;
            vertical-align: middle;
            padding: 32px 0;
        }
        p {
            width: 240px;
            font-size: 16px;
            line-height: 1.5;
            color: color($colors, primary);
        }
    }
}


/* OTHER */

p {
    margin: auto;
}

p.notify {
    color: color($colors, danger);
}

.notify:after {
    content: '';
    position: absolute;
    background-color: #dd0000;
    height: 4px;
    width: 4px;
    left: -10px;
    top: 0;
    border-radius: 100px;
}

.padding-width {
    padding: 0 10px;
}

ion-app {
    max-width: 500px;
    right: 0;
    margin: auto;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.2);
}

ion-content {
    background-color: color($colors, light) !important;
}

.item-md {
    padding: 0;
    margin: auto;
    background-color: transparent;
}
.item-md [item-left], .item-md [item-right], .item-md [item-start], .item-md [item-end] {
    margin: 2px 0 4px 0;
}

.list-md .item-block .item-inner {
    border: none;
}

.label-md {
    margin: auto;
}

.item-divider-md {
    padding: 0;
    border: none;
}
form p {
    text-align: right;
    margin-top: 20px;
}

.column.left ion-icon {
    margin-right: 5px;
}
.item-input {
    margin-bottom: 20px;
}
.item-ios {
    padding: 0px;
    margin: 0;
    background-color: transparent;
}
.label-ios {
    margin: 0;
}
.list-ios .item-block .item-inner {
    border: none;
    padding: 0;
    margin: 0;
}
.item-block {
    min-height: 0;
}
.list-ios {
    margin: 0;
}