accordion {

    .month{
        max-height: 0px;
        padding: 0 10px;
    }
    .accordion-btn {
        border-top: 1px solid white;
        background-color: #f7faff;
        padding: 0 10px;
        margin: 0 0px 4px 0;
        display: table;
        width: 100%;
        -webkit-box-shadow: 0 2px 4px rgba(194, 217, 236, 0.5);
        box-shadow: 0 2px 4px rgba(194, 217, 236, 0.5);
    }
    .btn-wrapper{
        margin: auto;
        display: table;
    }
    .btn-wrapper p {
        text-align: right;
        display: table-cell;
        vertical-align: middle;
    }
}
